
body{
  background-image: url('../images/retina-display.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
h1{
  color: white;
}
.homeBanner{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px;
  color: white;
  text-align: center;
}
.homeBanner h1{
  font-size: 64px;
  font-weight: bolder;
}
.homeBanner hr {
border-top: 7px groove white;
width: 100%;
margin: auto;
}
.projects{
display: flex;
}

.links{
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 50%;
  width: 50%;
}

.links i {
  color:  white;
  font-size: 5em;
}


.contactBody {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.aLive{
  float: left;
}
.aGitHub{
  float: right;
}
/* .Quizness{
  /* height: 450px;
  width: 170px;
} */
.yoshi{
  color: red;
  text-align: right;
}
.nameLink{
  color: white;
  text-shadow: 3px black;
}
.nameLinkDrawer{
  color: black;
  text-shadow: 3px black;
}
i.material-icons{
  color: black;
  background-color: white;
}
.mdl-layout__drawer-button{
  background-color: white;
}
.material-icons{
  background-color: white;
  border: black 4px;
}
.projectTabs{
color: white;
text-emphasis-color: white;
}
.mdl-layout__header {
  color: white;
  background-color: white;
}
.headerColor{
  color: white;
  background-color: white;
}
header.mdl-layout{
  color: white;
  background-color: white;
}
.cardOne{
  height: 15vh;
}
.cardTwo{
  height: 15vh;
}
.cardThree{
  height: 15vh;
}
.cardFour{
  height: 12vh;
}

.cardFive{
  height: 12vh;
}

.cardSix{
  height: 12vh;
}

.cardSeven{
  height: 12vh;
}

.cardEight{
  height: 14vh;
}

.cardNine{
  height: 14vh;
}
.cardTen{
  height: 14vh;
}

.cardEleven{
  height: 14vh;
}
.headerColor{
  color: white;
}


/* Begin Media Queries */

@media screen and (max-width: 980px) {
.headshotImg{
  size: 80%;
}
.contactName{
size: 40%;
}
.contactDesc{
  size: 40%;
}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}